
.Button{
    border: 1px solid rgb(111, 209, 111);
    border-radius: 6px;
    height: 30px;
    background-color: whitesmoke;
}
.Button:hover{
    cursor: pointer;
}

.Dropdown{
    position: relative;
    display: inline-block;
}
.Dropdown_content{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    background-color:white;
    border-radius: 6px;
    width: 150px;
    z-index: 2;
    left: -40px;
     
}
.Dropdown_content a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 1%;
    border: 1px solid lightgray;
    border-radius: 6px;
}
.Dropdown:hover .Dropdown_content{
    visibility: visible;
    opacity: 1;   
}
.Dropdown_content a:hover{
    background-color: grey;
}