.App{
  margin:0;
}
.Navbar{
  background-color:white;
  display: flex;
  height: 85px;
  align-items: center;
  padding: 2.5%;
  position: static;
  z-index: 2;
  width: 100vw;
  border-bottom: 1px dotted lightgray;
  /* position: fixed; */
}
.Options{
  display: flex;
  flex: 0.9;
  justify-content: space-evenly;
}
.Logo{
  flex:0.1;
  width: 100px;
  height: 125px;
}
.Option{
  color: grey;
  transition:  color 1 ease;
}
.Option:hover{
  color: black;
  cursor: pointer;
}
.Option.Hidden {
  display:none;
}
@media screen and (max-width:1000px) {
  .Navbar{
    height: 70px;
    margin-bottom: 5px;
  }
  .Logo{
    height: 90px;
  }
}