body{
  margin: 0;
}
*{
  font-family: 'Roboto Slab', serif;
  color: black;
  box-sizing: border-box;
  text-decoration: none;
}
@media screen and (max-width:1000px) {
  h3{
    font-size: medium;
  }
  h2{
    font-size: large;
  }
  
}