body{
  margin: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color:transparent;
}
::-webkit-scrollbar-thumb {
  background-color:gray;
  width:2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

*{
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Raleway', sans-serif;
  font-weight:900;
  /* color: white; */
  box-sizing: border-box;
  text-decoration: none;
}
@media screen and (max-width:1000px) {
  h3{
    font-size: medium;
  }
  h2{
    font-size: large;
  }
  
}