.Container {
    margin: 2.3%;
    border-radius: 10px;
    border: 1px dotted gray;
    
}
label{
    color:white;
}
.Container .Dashboard .Hidden{
    visibility: hidden;
}

.Container:nth-of-type(odd) {
    background-image: linear-gradient(to right top, #645858, #4e4245, #372d32, #221a21, #090110);
}

.Container:nth-of-type(even) {
    background-image: linear-gradient(to right top, #645858, #4e4245, #372d32, #221a21, #090110);
}
.Checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    padding-right: 140px;
}
.Dashboard {
    width: 92.5vw;
    height: 97vh;
    display: grid;
    grid-gap: 22px;
    grid-template-columns: 14vw 20vw 30vw 21vw;
    grid-template-rows: 30vh 38vh;
    padding: 1%;
    background-color: transparent;
    border-radius: 10px;
    color:black
}

.Grid_line {
    /* border: 1px solid rgb(138, 137, 136); */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
}

.Heading {
    margin: 0;
    color: rgba(4, 150, 218, 0.959);
    font-size: 1.6rem;
}

.Uptime {
    grid-row-start: 1;
    grid-row-end: 2;
    background: #78c4d4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Uptime_Heading{
margin-top: 0;
}

.Oil {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: #a8e6cf;
    /* justify-content: center; */
    /* padding: 1%; */


}

.Report {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    background-color: #cae8d5;
    display: flex;
    align-items: center;
    padding: 1%;
}

.Temperature {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #f5c0c0;
    padding: 1%;
}

.Vibrational {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #6f9eaf;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 1%;

}
.Vibrational_Heading{
    margin-top:0;
}
.Locations {
    display: flex;
    justify-content: space-between;
}

.Issues {
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    align-items: center;
}

.Power {
    grid-row-start: 2;
    grid-row-end: 3;
    background: #cae8d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Button {
    border: none;
    margin-top: 1%;
    background-color: rgb(25, 0, 0, 0.2);
    border: 1px solid black;
    cursor: pointer;
    width: 50%;
    font-size: 1.1rem;
    border-radius: 5px;
}

.Button:active {
    background-color: rgb(25, 0, 0, 0);
}

@media screen and (max-width:1000px) {
    .Dashboard {
        width: 95vw;
        height: 98vh;
        display: grid;
        grid-gap: 15px;
        grid-template-rows: 30vh 33vh;
    }
    .Uptime_Heading{
        margin:0px;
    }

    .Temperature{
        grid-column-start: 4;
        grid-column-end: 6;
    }
    .Locations{
        display: flex;
        flex-direction: column;
    }
    .Oil{
        display: flex;
        flex-direction: column;
    }
    .Report{
        padding-left: 8%;
    }
    .Power{
        justify-content:unset;
    }
    .Issues{
        grid-column-end: 6;
    }
    .Vibrational_Heading{
        margin-bottom: 0.2%;
    }
    .Button{
        height: 30%;
        width: 80%;
        margin: 1.5px;
    }
    .Power{
        overflow: hidden;
    }
    .Power>span {
        font-size: 10px;
    }
    .Power>h4{
        margin-top: 0;
    }

}