.Container{
    margin: 1.2%;
}
.Container:nth-of-type(odd){
    background-color: #e9f1f7;
}
.Container:nth-of-type(even){
    background-color:#d7f9ff;
    color: black;
}
.Dashboard{
    width: 90vw;
    height: 95vh;
    display: grid;
    grid-gap:20px;
    grid-template-columns:20vw 25vw 20vw auto;
    grid-template-rows: 25vh 38vh;
    padding:1%;
    background-color: transparent;
    
}

.Grid_line{
    /* border: 1px solid rgb(138, 137, 136); */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: all 1s ease-out;
}
.Grid_line:hover{
    transform: scale(1.095);
}
.Grid_line:nth-child(4):hover{
    transform: none;
}
.Heading{
    margin: 0; 
    color: rgba(0, 0, 0, 0.842);
    font-size: 1.6rem;
}
.Uptime{
grid-row-start:1;
grid-row-end:2;
background:#78c4d4;
}
.Oil{
    grid-row-start:1;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    background:#a8e6cf;


}
.Power{
     grid-row-start: 2;
    grid-row-end: 3;
    background: #cae8d5;
}
.Report{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:#ffc996;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    
}
.Report_2{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:#f5c0c0;
    padding: 1%;
}
.Vibrational{
    grid-column-start:1;
    grid-column-end: 4;
    background-color:#6f9eaf ;
    overflow-x: auto;
    justify-content:flex-start;
    padding: 1%;
    
}
.Locations{
    display: flex;
    justify-content: space-between;
}
.Issues{
    background-color: rgb(36, 233, 69);
}

