
.Button{
    border-radius: 5px;
    background-color:#74bcc6e3;
    margin-top:10px;
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}
.Button:hover{
    background-color: #307e88;
    color: white;
    cursor: pointer;
    
}
.Button:hover a{
    color: white;
}
.Card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 33%;
    height: 100%;
    background-color: #a9f1df;
    padding-bottom: 10px;
}
.Heading{
    margin: 0;
}
.Links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media screen and (max-width:1000px) {
    .Card{
        width: 95%;
        height: 100%;
        margin: 10px;
        padding-bottom: 10px;
    }
    .Button{
        display: flex;
        width: 110px;
    }
    
}