
.Button{
    border-radius: 5px;
    background-color:#74bcc6e3;
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}
.Button:hover{
    background-color: #307e88;
    color: white;
    cursor: pointer;
    
}
.Button:hover a{
    color: white;
}
.Card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 33%;
    height: 110%;
    background-color: #a9f1df;
}
.Heading{
    margin: 0;
}
.Links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
