.Home{
    height: 25vh;
    width: 100vw;
    background-color:black;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    background-size:cover;
    
}
.Heading{
    color:white;
    font-size: 2.5rem;
    font-weight:bolder;
    letter-spacing: 10px;
}
