.Home{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    background-size:cover;
    
}
.Heading{
    color:rgba(0, 0, 0, 0.959);
    font-size: 3rem;
    font-style: italic;
    margin:0;
}
