.Machines{
    background:linear-gradient( rgba(0, 0, 0, 1)10%,rgb(25,25,25,1));
    height: 80vh;
    width: 100vw;
    text-align: center;
}
.Heading{
    margin-top: 0;
    padding: 5%;
}
.Cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}